src/main/resources/templates/wrapper.html
target/classes/templates/wrapper.htm
src/main/resources/application.yaml
target/classes/application.yaml
*.yaml
src/main/resources/application.yaml
target/classes/application.yaml
