src/main/resources/templates/wrapper.html
target/classes/templates/wrapper.htm
src/main/resources/application.yaml
src/main/resources/application_deploy.yaml
target/classes/application.yaml
target/classes/application_deploy.yaml
