<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to SoloLeaf</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}" href="/favicon.png" sizes="32x32">
    <link rel="stylesheet" th:href="@{/css/reset.css}" href="/static/css/reset.css">
    <link rel="stylesheet" th:href="@{/css/general.css}" href="/css/general.css">
    <link rel="stylesheet" th:href="@{/css/index.css}" href="/css/index.css">
</head>
<body>

<header>
    <h1>Welcome to the SoloLeaf app</h1>
    <p>Order and enjoy great hot food from every restaurant you want!</p>
</header>

<main>
    <img th:src="@{/favicon.png}" alt="SoloLeaf logo" style="max-width:40%;height:auto;">

    <section class="buttons">
        <a href="/signIn" th:href="@{/signIn}">Sign in</a>
        <a href="/signUp" th:href="@{/signUp}">Sign up</a>
    </section>

    <footer>
        <p>© 2025 SoloLeaf application - the fastest food delivery service of all time</p>
    </footer>
</main>

</body>
</html>
