<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}" href="/favicon.png" sizes="32x32">
    <link rel="stylesheet" th:href="@{/css/reset.css}" href="/static/css/reset.css">
    <link rel="stylesheet" th:href="@{/css/general.css}" href="/css/general.css">
    <link rel="stylesheet" th:href="@{/css/signUI.css}" href="/css/signUI.css">
</head>
<body>
<header>
    <h3>Log in now to order and enjoy hot dishes!</h3>
</header>

<main class="wrap">
    <div>
        <h1>Sign in form</h1>
        <form id="form-signin">
            <label for="username">Email</label>
            <input id="username" type="email" required placeholder="Enter your email" />
<!--            vua sua tu type = text -> email-->

            <label for="password">Password</label>
            <input id="password" type="password" required minlength="6" placeholder="Enter password" />

            <button id="btn-signin" type="submit">Sign in</button>
        </form>
    </div>
</main>

<footer>
    <p>No account yet? <a href="/signUp" th:href="@{/signUp}">Sign up now</a></p>
</footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/signIn.js"></script>
</body>
</html>
