<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}" href="/favicon.png" sizes="32x32">
    <link rel="stylesheet" th:href="@{/css/reset.css}" href="/static/css/reset.css">
    <link rel="stylesheet" th:href="@{/css/general.css}" href="/css/general.css">
    <link rel="stylesheet" th:href="@{/css/index.css}" href="/css/index.css">
    <link rel="stylesheet" th:href="@{/css/signUI.css}" href="/css/signUI.css">
</head>
<body>
<header>
    <h3>Sign up now to order and enjoy hot dishes!</h3>
</header>

<main class="wrap">
    <div>
        <h1>Sign up form</h1>

        <form id="form-signup">
            <label for="fullname">Full name</label>
            <input id="fullname" type="text" required placeholder="Enter your full name" />

            <label for="email">Email</label>
            <input id="email" type="email" required placeholder="Enter your email" />

            <label for="password">Password</label>
            <input id="password" type="password" required minlength="6" placeholder="Enter your password" />

            <label for="confirm">Password confirmation</label>
            <input id="confirm" type="password" required minlength="6" placeholder="Enter your password again" />

            <button id="btn-signup" type="submit">Sign up</button>
        </form>
    </div>

</main>

<footer>
    <p>Already have an account? <a href="/signIn" th:href="@{/signIn}">Sign in now</a></p>
</footer>

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/signUp.js"></script>

</body>
</html>
