<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Payment</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}" href="/favicon.png" sizes="32x32">
    <!-- <link rel="stylesheet" th:href="@{/css/reset.css}" href="/css/reset.css"/>
    <link rel="stylesheet" th:href="@{/css/general.css}" href="/css/general.css"/>
    <link rel="stylesheet" th:href="@{/css/payment.css}" href="/css/payment.css"/> -->
    <link rel="stylesheet" th:href="@{/css/reset.css}" href="../static/css/reset.css"/>
    <link rel="stylesheet" th:href="@{/css/general.css}" href="../static/css/general.css"/>
    <link rel="stylesheet" th:href="@{/css/payment.css}" href="../static/css/payment.css"/>
</head>
<body>

<main class="cart-panel" id="cartPanel">
    <header class="cart-panel__header">
        <div class="payment-status">
            <span class="status-text">Thank you for your purchase!</span>
            <div class="circle">
                <span class="checkmark">&#10004;</span>
            </div>
        </div>
        <p>(Scroll your food list below)</p>
    </header>

    <div class="cart-panel__body"></div>

    <footer class="cart-panel__footer">
        <div class="bill-button">
            <button class="cart-checkout-btn buttons">Return to home</button>
        </div>
    </footer>
</main>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/successPayment.js"></script>
</body>
</html>
